.app-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content {
  align-items: center;
  justify-content: center;
  top: 45px;
  position: relative;
  padding-left: 65px;
  padding-right: 35px;
  padding-top: 5px;
  font-size: calc(10px + 2vmin);
}

span {
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  color: rgb(5, 0, 17);
  background: linear-gradient(0.85turn, #b5deff, #93bcff, #0040a7);
}
.App {
  position: absolute;
  top: 50px;
  left: 50px;
}
.zoom :hover {
  text-size-adjust: 105%;
  transform: scale(1.05);
  transition: all 0.2s linear;
}
.homeMain {
  width: 100%;
  height: 100%;
}
.App-logo2 {
  width: 100px;
  height: 100px;
  position: relative;
  animation: myfirst 5s ease-in-out 2s infinite alternate;
}

@keyframes myfirst {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.MainAnimation-appear {
  transform: translateY(-30px);
  opacity: 0;
}
.MainAnimation-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s linear;
}
@keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  66% {
    transform: translateX(50px);
  }
}
a {
  color: rgb(35, 22, 156);
  font-weight: bold;
}
a:hover {
  color: rgb(70, 191, 246);
  font-weight: bold;
}
.midBlurb {
  background: linear-gradient(#eef5ff5b, #f0f8ff77);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.appHeader {
  position: absolute;
  z-index: 98;
  box-shadow: 0px 0px 5px 3px rgba(19, 10, 104, 0.8);
  width: 100%;
  color: rgb(5, 0, 17);
  background: linear-gradient(#c4dbff, #b5deff, #5e9cff);
  align-content: center;
  top: 0;
  left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.headerFont {
  font-size: calc(25px + 2vmin);
  color: rgb(3, 23, 61);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  background-color: #5e9cff;
  border-radius: 15%;
  border-color: #072557;
  color: #00173d;
  height: 30px;
}
.UI {
  position: absolute;
  height: 100%;
  z-index: 100;
  width: 100%;
}
.active {
  width: 250px;
  transition: all 1s;
}
.inactiveSidebar {
  width: 50px;
  transition: all 1s;
}

.appSidebar {
  position: absolute;
  z-index: 98;
  margin-bottom: 0;
  top: 0;
  left: 0;
  height: 100vh;
  box-shadow: 0px 0px 10px 2px rgba(19, 10, 104, 0.8);
  background: linear-gradient(
    0.25turn,
    #0040a7,
    #5e9cff,
    #b5deff,
    #b5deff,
    #e0f1ff,
    #e0f1ff,
    #e0f1ff,
    #b5deff,
    #b5deff,
    #5e9cff,
    #0040a7
  );
}
.appSidebar:open {
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0px 0px 0px 5px rgba(19, 10, 104, 0.8);
}
.appSidebarSlider {
  z-index: 100;
  position: absolute;
  top: 2px;
  background: rgba(20, 2, 68, 0.863);
  left: 2px;
  height: 60px;
  width: 30px;
}
.sideBarHeader {
  z-index: 101;
  position: absolute;
}
.appSidebarSlider:closed {
  z-index: 100;
  position: absolute;
  top: 10px;
  background: rgba(20, 2, 68, 0.863);
  left: 10px;
  height: 50px;
}
.appSidebarSlider:open {
  z-index: 100;
  position: absolute;
  top: 10px;
  background: rgba(20, 2, 68, 0.863);
  left: 10px;
  height: 75px;
}
.appSidebarItems {
  z-index: 101;
  position: absolute;
  top: 5px;
  font-size: large;
  color: cornflowerblue;
  font-weight: bolder;
  width: 100%;
  align-content: center;
}

.appSidebarItems:open {
  z-index: 101;
  position: absolute;
  top: 75px;
  font-size: large;
  color: cornflowerblue;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  align-content: center;
}

.horSep {
  width: 85%;
  z-index: 101;
  left: 2px;
  position: absolute;
  color: cornflowerblue;
  box-shadow: 0px 2px 0px;
}
